# Data Science Tools and Ecosystem

In this notebook data science tools and ecosystem are summarized

**Objectives:**

* Some of the most popular languages Data Scientists use
* Some of the commonly used libraries used by Data Scientists 
* Examples of evaluating arithmetic expressions in Python

Some of the most popular languages Data Scientists use are:

1. Python
1. R
1. Scala

Some of the commonly used libraries used by Data Scientists are:

1. Numpy
1. Pandas
1. Matplotlib

### Below are few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5

17

In [3]:
# This will converte 200 minutes into hrs

200/60

3.3333333333333335